@{
    ViewData["Title"] = "Contact";
}

<br />


<style>
    .center {
        margin: auto;
        width: 100%;
        border: 10px solid BF3EFF;
        padding: 30px;
    }

    .btn-primary {
        margin: auto;
        width: 100%;
        background-color: #660198;
        padding: 10px;
    }
</style>


<div class="center" style="width: 500px;">
    <h1>Welcome to the Counselor Dashboard.</h1>
    <br />
    <p>What would you like to do today?</p>
    <br />

    <button a href="#" type="button" class="btn btn-primary btn-lg btn-block">Conduct Assessments</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block">Manage Clients</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block">Generate Reports</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block">Import/Export</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block">Search</button>
</div>
