@{
    ViewData["Title"] = "Home Page";
}

<br />


<style>
    .center {
        margin: auto;
        width: 100%;
        border: 10px solid BF3EFF;
        padding: 30px;
    }

    .btn-primary {
        margin: auto;
        width: 100%;
        background-color: #660198;
        padding: 10px;
    }
</style>


<div class="center" style="width: 500px;">
    <h1>Welcome to the Administrative Dashboard.</h1>
    <br />
    <p>What would you like to do today?</p>
    <br />

    <button onclick="location.href='@Url.Action("Users", "Home")'" type="button" class="btn btn-primary btn-lg btn-block"><i class="glyphicon glyphicon-user" style="color : #ffffff;"></i>&nbsp; Manage Users</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block"><i class="glyphicon glyphicon-heart" style="color : #ffffff;"></i>&nbsp;Manage Clients</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block"><i class="glyphicon glyphicon-cog" style="color : #ffffff;"></i>&nbsp;Generate Reports</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block"><i class="glyphicon glyphicon-pencil" style="color : #ffffff;"></i>&nbsp;Manage Assessments</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block"><i class="glyphicon glyphicon-cloud-download" style="color : #ffffff;"></i>&nbsp;Import/Export</button>
    <button a href="#" type="button" class="btn btn-secondary btn-lg btn-block">Search</button>
</div>